* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

:focus-visible {
  outline: none;
}

.main_homepage {
  min-height: 100vh;
  padding: 4.0625rem 0 0; /* aligning messages at the start and leaving space for the header */
}

.main_messages {
  overflow: hidden;
  padding: 0 1rem 3.75rem; /* aligning messages at the end and leaving space for the input bar */
  min-height: 100vh;
  display: flex;
  align-items: flex-end;
}
