@use '../utils/sass/functions' as *;
@use '../utils/sass/variables' as *;

.messages_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: scroll;
}

.input_container {
  width: 100%;
  & > div {
    width: 100%;
  }
  .text_input {
    position: fixed;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: 0 1rem;
    height: rem(43px);
    padding: rem(10px) rem(16px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid $lightGrey;
    border-radius: 20px;
    input {
      flex: 1;
      border: none;
    }
  }
}

.submit_message {
  cursor: pointer;
  color: $darkGrey;
}

.submit_message_enabled {
  cursor: pointer;
  color: $blue;
  font-weight: 500;
}

/* New conversation button */
.icon_wrapper {
  z-index: 1000;
  width: rem(50px);
  height: rem(50px);
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba($color: $blue, $alpha: 0.8);
  box-shadow: 3px 6px 6px $lightGrey;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-out;
  &:hover {
    transform: scale(0.99);
    box-shadow: none;
  }
  svg {
    color: #fff;
  }
}

/* Styling error pages */
.error {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: rem(8px);
  h1 {
    font-size: 2rem;
  }
  button {
    font-weight: 600;
    border-width: 2px;
  }
}
