@use '../../utils/sass/functions' as *;
@use '../../utils/sass/variables' as *;

.container {
  padding: rem(15px) rem(13px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $headerBgColor;
}
