@use '../../utils/sass/functions' as *;
@use '../../utils/sass/variables' as *;

.container {
  z-index: 1000;
  padding: rem(20px) rem(13px);
  display: flex;
  align-items: center;
  background-color: $headerBgColor;
  border-bottom: 1px solid $lightGrey;
}
